.custom_error{
    color: #ff0000;
}

.project-item{
    margin-left: 10px;
}

.form-item-field-prizes-und .form-item {
    display: inline-block;
    width: 320px;
}


.form-item-field-prizes-und .views-field-field-jurisdiction {
    display: none;
}
