.custom_error{
    color: #ff0000;
}

.project-item{
    margin-left: 10px;
}

.form-item-field-prizes-und .form-item {
    display: inline-block;
    width: 297px;
}
.vertical-tabs {
    display: none;
}
.form-item-body-und-0-value .field-edit-link {
    display: none;
}